
<form method="POST" action="{% url 'request_otp' %}">
    {% if messages %}
                <ul class="messages">
                  {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                  {% endfor %}
                </ul>
                {% endif %}
    {% csrf_token %}
    <div class="mb-3">
        <label for="phone_number" class="form-label">Phone Number</label>
        <input type="text" class="form-control" id="phone_number" name="phone_number" required>
    </div>
    <button type="submit" class="btn btn-primary">Request OTP</button>
</form>
